<p id="notice"><%= notice %></p>

<h1>Послуги</h1>

<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th style="width: 10%"></th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td>
          <%= link_to fa_icon("pen"), edit_service_path(service) %> <%= link_to fa_icon("trash"), service, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td><%= link_to service.name, service  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path, class:"btn btn-moveon" %>
