<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>
<p>
  <strong>Category:</strong>
  <%= @service.category %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %>
|
<%= link_to 'Back', services_path %>

<h1>Orders</h1>

<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th style="width: 10%"></th>
      <th>ID</th>
      <th>Worker</th>
      <th>Customer</th>
      <th>Vehicle</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= link_to fa_icon("pen"), edit_order_path(order) %> <%= link_to fa_icon("trash"), order, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td><%= link_to order.id, order %></td>
        <td><%=link_to order.worker.full_name,order.worker %></td>
        <td><%=link_to order.customer.full_name,order.customer %></td>
        <td><%=link_to order.vehicle.name,order.vehicle %></td>
        <td><%= order.date %></td>
        <td><%= order.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
