<p id="notice"><%= notice %></p>

<p>
  <strong>Name: </strong>
  <span class="rest-in-place" data-url="/marks/<%=@mark.id%>" data-object="mark" data-attribute="name" data-placeholder="Enter a name">
   <%= @mark.name %>
  </span>
</p>

<%= link_to 'Back', marks_path %>

<h1>Models</h1>

<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th style="width: 10%"></th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td>
          <%= link_to fa_icon("pen"), edit_model_path(model) %> <%= link_to fa_icon("trash"), model, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td><%=link_to model.name, model %></td></tr>
    <% end %>
  </tbody>
</table>
