<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <span class="rest-in-place" data-url="/models/<%=@model.id%>" data-object="model" data-attribute="name" data-placeholder="Enter a name">
  <%= @model.name %>
  </span>
</p>

<p>
  <strong>Mark:</strong>
  <%=link_to @model.mark.name, @model.mark %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>

<h1>Vehicles</h1>

<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th style="width: 10%"></th>
      <th>Number</th>
      <th>Vin</th>
      <th>Year</th>
      <th>Colour</th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td>
          <%= link_to fa_icon("pen"), edit_vehicle_path(vehicle) %> <%= link_to fa_icon("trash"), vehicle, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td><%=link_to vehicle.number ,vehicle %></td>
        <td><%= vehicle.vin %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.colour %></td>
      </tr>
    <% end %>
  </tbody>
</table>
