<div class="trbl pl-5 pr-5 ml-5 mr-5">
<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.input :login, autofocus: true, autocomplete: "email or phone", class:"form-control", placeholder: "Email/Phone" %>


    <%= f.input :password, autocomplete: "current-password", class:"form-control" %>


  <% if devise_mapping.rememberable? %>
       <%= f.input :remember_me,as: :boolean, inline_label: 'Yes, remember me' %>
  <% end %>

    <%= f.submit "Log in", class: "btn btn-moveon" %>

<% end %>
</div>
