<p id="notice"><%= notice %></p>

<div class="jumbotron">
 <div class="row text-center text-md-left">
     <div class="col-12 col-md-5 ">
         <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img">
     </div>
     <div class=" col-12 col-md-7">
         <div class="container" style="border-bottom:1px solid black">
           <h2><%= @customer.full_name %></h2>
         </div>
        <br>
         <ul class="container details">
           <li><p><i class="fas fa-phone-alt"></i><%= @customer.phone %></p></li>
           <li><p><i class="fas fa-map-marker-alt"></i><%= @customer.address %></p></li>
           <li><p><i class="fas fa-info-circle"></i><%= @customer.desc %></p></li>
         </ul>
     </div>
 </div>
<div class="text-center">
  <%= link_to 'Edit', edit_customer_path(@customer) %> |
  <%= link_to 'Back', customers_path %>
</div>

<h1>its Orders</h1>

<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Worker</th>
      <th>Service</th>
      <th>Vehicle</th>
      <th>Date</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%=link_to ordr.id, order %></td>
        <td><%=link_to order.worker.full_name,order.worker %></td>
        <td><%=link_to order.service.name,order.service %></td>
        <td><%=link_to order.vehicle.full_name,order.vehicle %></td>
        <td><%= order.date %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
