<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th>worker</th>
      <th>Service</th>
      <th>Customer</th>
      <th>vehicle</th>
      <th>Date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.worker.full_name %></td>
        <td><%= order.service.name %></td>
        <td><%= order.customer.full_name %></td>
        <td><%= order.vehicle.name %></td>
        <td><%= order.date %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, class:"btn btn-moveon" %>
