<p id="notice"><%= notice %></p>

<p>
  <strong>Worker:</strong>
  <%= @order.worker_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @order.service_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @order.vehicle_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
