<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%=@order.id %>
</p>

<p>
  <strong>Worker:</strong>
  <%=link_to @order.worker.full_name,@order.worker %>
</p>

<p>
  <strong>Service:</strong>
  <%=link_to @order.service.name,@order.service %>
</p>

<p>
  <strong>Customer:</strong>
  <%=link_to @order.customer.full_name, @order.customer %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%=link_to @order.vehicle.name,@order.vehicle%>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
