<h1>Працівники</h1>
<table class="table">
  <thead>
    <tr>
      <th>full_name</th>
      <th>phone</th>
      <th>address</th>
      <th>speciality</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= link_to worker.full_name , worker_path(worker.id) %></td>
        <td><%= worker.phone %></td>
        <td><%= worker.address %></td>
        <td><%= worker.speciality %></td>
        <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
