<h1>Workers</h1>
<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Speciality</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= link_to worker.full_name , worker_path(worker.id) %></td>
        <td><%= worker.phone %></td>
        <td><%= worker.address %></td>
        <td><%= worker.speciality %></td>
        <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
