<%= simple_form_for @vehicle do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<%= f.input :number %>

<%= f.input :vin %>

<div class="form-group string optional">
  <%= label_tag :mark,"Марка", class:"string optional"%>
  <%= select_tag :mark, options_from_collection_for_select(Mark.all.order(:name),:id,:name),class:"form-control string optional" %>
</div>

<%= f.association :model,collection: Mark.all.order(:name).first.models ,label_method: :name, value_method: :id %>

<%= f.input :year, as: :select, collection: (1980..Time.now.year()),include_blank: false %>

<%= f.input :colour %>

<%= f.submit class: "btn btn-moveon"%> or <%= link_to 'Back', vehicles_path %>
<% end %>
