<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>

<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th style="width: 8%"></th>
      <th>Number</th>
      <th>Vin</th>
      <th>Model</th>
      <th>Mark</th>
      <th>Year</th>
      <th>Colour</th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td>
          <%= link_to fa_icon("pen"), edit_vehicle_path(vehicle) %> <%= link_to fa_icon("trash"), vehicle, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td><%=link_to vehicle.number, vehicle %></td>
        <td><%= vehicle.vin %></td>
        <td><%=link_to vehicle.model.name,vehicle.model %></td>
        <td><%=link_to vehicle.model.mark.name,vehicle.model.mark %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.colour %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path, class:"btn btn-moveon" %>
