<nav id="sidebar" class="active">
  <div class="sidebar-header">
    <%= link_to root_path do %>
    <h3>
      MoveOn
    </h3>
    <strong>MO</strong>
  <%end%>
</div>
<ul class="list-unstyled components">
  <li>
    <%= link_to vehicles_path do%>
    <%=fa_icon "car"%>
    <div class="nav-text">Авто</div>
  <%end%>
</li>
<li>
  <%= link_to items_path do%>
  <%=fa_icon "cubes"%>
  <div class="nav-text">Запчастини</div>
<%end%>
</li>
<li>
<%= link_to customers_path do%>
<%=fa_icon "portrait"%>
<div class="nav-text">Клієнти</div>
<%end%>
</li>
<li>
<%= link_to orders_path do%><%=fa_icon "concierge-bell"%>
<div class="nav-text">Замовлення</div>
<%end%>
</li>
<li>
<%= link_to workers_path do%><%=fa_icon "user-tie"%>
<div class="nav-text">Працівники</div>
<%end%>
</li>
<li>
<a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<%=fa_icon "ellipsis-v"%>
<div class="nav-text">Інше</div>
</a>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<%= link_to services_path, class:"dropdown-item" do%><%=fa_icon "cogs"%>
<div class="nav-text">Послуги</div>
<%end%>
<%= link_to marks_path, class:"dropdown-item" do%><%=fa_icon "trademark"%>
<div class="nav-text">Марки</div>
<%end%>
<%= link_to models_path, class:"dropdown-item" do%><%=fa_icon "car-side"%>
<div class="nav-text">Моделі</div>
<%end%>
</div>
</li>

<% if worker_signed_in? %>
<hr>
<li>
<%= link_to destroy_worker_session_path, method: :delete do%>
<%=fa_icon "sign-out-alt"%>
<div class="nav-text">Log out</div>
<%end%>
</li>
<%end%></ul> </nav>
