
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>MoveOn</h3>
          <strong>MO</strong>
      </div>

      <ul class="list-unstyled components">
          <li>
            <%= link_to "Головна" , root_path %>
          </li>
          <li>
            <%= link_to "Авто" , vehicles_path %>
          </li>
          <li>
              <%= link_to "Послуги" , services_path %>
          </li>
          <li>
            <%= link_to "Замовлення" , orders_path %>
          </li>
          <li>
            <%= link_to "Працівники" , root_path %>
          </li>
      </ul>
  </nav>
